<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="iNewsServer" value="10.10.10.10" />
    <add key="iNewsServerBackup" value="10.10.10.11" />
    <add key="iNewsUser" value="user" />
    <add key="iNewsPass" value="password" />
    <add key="iNewsSystemUrl" value="http://10.10.10.10:8080/inews/webservice/INEWSSystem" />
    <add key="iNewsQueueUrl" value="http://10.10.10.10:8080/inews/webservice/INEWSQueue" />
    <add key="iNewsStoryUrl" value="http://10.10.10.10:8080/inews/webservice/INEWSStory" />
    <add key="QueuesRoot" value="SYSTEM.MAP" />
    <add key="Fields" value="StoryId,S_ID;Title,S_TITLE" />
  </appSettings>
</configuration>
