<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BridgeHostIP" value="127.0.0.1" />
    <add key="BridgeHostPort" value="3000" />
    <add key="QueuesRoot" value="VTV4.04_VO_BAN_TIN" />
    <add key="Fields" value="title,page-number" />
    <add key="iNewsServer" value="192.88.8.21" />
    <add key="iNewsServerBackup" value="192.88.8.22" />
    <add key="iNewsUser" value="checkfile" />
    <add key="iNewsPass" value="12345678" />
    <add key="iNewsTimeout" value="5000" />
  </appSettings>
</configuration>
