<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="API_iNews.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>            
        </sectionGroup>      
    </configSections>
    <applicationSettings>
		<API_iNews.Properties.Settings>
			<setting name="API_iNews_INEWSSystem_INEWSSystem" serializeAs="String">
				<value>http://192.88.8.230:8080/inewswebservice/services/inewssystem</value>
			</setting>
			<setting name="API_iNews_INEWSQueue_INEWSQueue" serializeAs="String">
				<value>http://192.88.8.230:8080/inewswebservice/services/inewsqueue</value>
			</setting>
			<setting name="API_iNews_INEWSStory_INEWSStory" serializeAs="String">
				<value>http://192.88.8.230:8080/inewswebservice/services/inewsstory</value>
			</setting>
		</API_iNews.Properties.Settings>
	</applicationSettings>
	<appSettings>
		<add key="ServerIP" value="192.88.8.230"/>
		<add key="iNewsServer" value="192.88.8.21"/>
		<add key="iNewsServerBackup" value="192.88.8.22"/>
		<add key="iNewsUser" value="checkfile"/>
		<add key="iNewsPass" value="12345678"/>
		<add key="QueuesRoot" value="VO_BAN_TIN"/>
		<add key="Fields" value="title,page-number"/>

		<add key="ExportStoryToXML" value="0"/>
		<add key="ExportStory2XML" value="1"/>
		<add key="FolderToSave" value="D:\\TEST\\XML"/>

		<add key="RootFolderPath" value="D:\\TEST"/>
		<add key="WorkingFolder" value="D:\\"/>
		<add key="Ruttit" value="TXT\\ruttit.txt"/>
		<add key="Diadanh" value="TXT\\diadanh.txt"/>
		<add key="Phude" value="TXT\\phude.txt"/>
		<add key="TroiTin" value="TXT\\TroiTin.txt"/>
		<add key="TroiCuoi" value="TXT\\TroiCuoi.txt"/>
		<add key="KeyTroiTin" value="##TroiTin...##"/>
		<add key="KeyTroiCuoi" value="##TroiCuoi...##"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
