<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="API_iNews.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>            
        </sectionGroup>      
    </configSections>
    <applicationSettings>
        <API_iNews.Properties.Settings>
            <setting name="API_iNews_INEWSSystem_INEWSSystem" serializeAs="String">
                <value>http://localhost:8080/inewswebservice/services/inewssystem</value>
            </setting>
            <setting name="API_iNews_INEWSQueue_INEWSQueue" serializeAs="String">
                <value>http://localhost:8080/inewswebservice/services/inewsqueue</value>
            </setting>
            <setting name="API_iNews_INEWSStory_INEWSStory" serializeAs="String">
                <value>http://localhost:8080/inewswebservice/services/inewsstory</value>
            </setting>
        </API_iNews.Properties.Settings>      
    </applicationSettings>
  <appSettings>
    <add key="ServerIP" value="127.0.0.1"/>
    <add key="iNewsServer" value="192.88.8.11"/>
    <add key="iNewsServerBackup" value="192.88.8.12"/>
    <add key="iNewsUser" value="cgthoisu"/>
    <add key="iNewsPass" value="123456"/>
    <add key="QueuesRoot" value="VTV4.04_VO_BAN_TIN"/>
    <add key="QueuesChild" value="RUNDOWN"/>
    <add key="BarScene" value="IN_BAR_VALUE1;IN_BAR_VALUE2;IN_BAR_Value_1;IN_BAR_Value_2;Bar_IN_VALUE_1_LINE_REV;Bar_IN_VALUE_2_LINE_REV;"/>
    <add key="BarLocaltion" value=""/>
    <add key="ExportStory2XML" value="0"/>
    <add key="FolderToSave" value="C:\"/>
    <add key="Fields" value="title,page-number"/>
    <add key="WorkingFolder" value="C:\\KarismaNews\\Newsline_CG3"/>
    <add key="Ruttit" value="TXT\\ruttit.txt"/>
    <add key="Diadanh" value="TXT\\diadanh.txt"/>
    <add key="Phude" value="TXT\\phude.txt"/>
    <add key="TroiTin" value="TXT\\TroiTin.txt"/>
    <add key="TroiCuoi" value="TXT\\TroiCuoi.txt"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
